# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
room-homepage-master/room-homepage-master/design/active-states.jpg
room-homepage-master/room-homepage-master/design/desktop-design-slide-1.jpg
room-homepage-master/room-homepage-master/design/desktop-design-slide-2.jpg
room-homepage-master/room-homepage-master/design/desktop-design-slide-3.jpg
room-homepage-master/room-homepage-master/design/desktop-preview.jpg
room-homepage-master/room-homepage-master/design/mobile-design.jpg
room-homepage-master/room-homepage-master/design/mobile-navigation.jpg
room-homepage-master/room-homepage-master/images/desktop-image-hero-1.jpg
room-homepage-master/room-homepage-master/images/desktop-image-hero-2.jpg
room-homepage-master/room-homepage-master/images/favicon-32x32.png
room-homepage-master/room-homepage-master/images/desktop-image-hero-3.jpg
room-homepage-master/room-homepage-master/images/mobile-image-hero-3.jpg
room-homepage-master/room-homepage-master/images/mobile-image-hero-2.jpg
room-homepage-master/room-homepage-master/images/mobile-image-hero-1.jpg
room-homepage-master/room-homepage-master/images/image-about-light.jpg
room-homepage-master/room-homepage-master/images/image-about-dark.jpg
room-homepage-master/room-homepage-master/images/icon-arrow.svg
room-homepage-master/room-homepage-master/images/icon-angle-left.svg
room-homepage-master/room-homepage-master/images/icon-angle-right.svg
room-homepage-master/room-homepage-master/images/icon-close.svg
room-homepage-master/room-homepage-master/images/icon-hamburger.svg
room-homepage-master/room-homepage-master/images/logo.svg
